header {
    background: linear-gradient(90deg, #006080, #00bcd4);
    color: #fff;
    padding: 2rem;
    text-align: center;
}
button {
    background: linear-gradient(90deg, #00bcd4, #006080);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:hover {
    background: linear-gradient(90deg, #006080, #00bcd4);
}
